
.grid{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 90%;
  overflow: hidden;
position: relative;

}



.container {
  height: 100vh;
  padding:0 5%;
  display: flex;
  flex-wrap: wrap;
overflow-y: scroll;
justify-content: space-around;
align-items: center;
padding-top: 50px;
}

@media only screen and (max-width: 850px) {
  .grid{
   display: flex;
   flex-direction: column-reverse;
   
  }
  
}